@import "../../scss/variables.styles.scss";

.hero {
  max-height: 110vh;
  width: 100vw;
  overflow-x: unset;
  background-color: black;
  position: relative;
  &__container {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__sub {
    font-size: 2.2rem;
    color: white;
  }
  &__cta {
    display: inline-block;
    background-color: $color-primary;
    color: black;
    padding: 2rem 6rem;
    font-weight: bold;
    font-size: $font-size-button;
    margin-top: 2.6rem;
  }
  &__slider {
    padding-top: 80vh;
  }
  .center-text {
    text-align: center;
  }
}
