@import "../../scss/variables.styles.scss";
@import "../../scss/mixins.scss";

.hero {
  max-height: 100vh;
  width: 100vw;
  overflow-x: unset;
  background-color: $color-bg;
  position: relative;

  @include respond(phone) {
    max-height: 100vh;
    min-height: 80vh;
  }

  &__container {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
  }

  &__sub {
    font-size: 1.6vw;
    color: $color-text-primary;
    @include respond(phone) {
      font-size: 5vw;
      padding: 1vw 10vw;
      font-weight: 100;
    }
  }

  &__cta {
    display: inline-block;
    background-color: $color-primary;
    color: white;
    padding: 1.4vw 3vw;
    font-weight: bold;
    font-size: $font-size-button;
    margin-top: 2.6rem;

    @include respond(phone) {
      padding: 2.6vw 6vw;
      font-size: $font-size-button-mobile;
      font-weight: 200;
    }
  }
  &__slider {
    padding-top: 75vh;

    @include respond(tab-port) {
      padding-top: 34vw;
    }
    @include respond(phone) {
      padding-top: 74vh;
    }
  }
  .center-text {
    text-align: center;
  }
}
