@import '../../scss/variables.styles.scss';

.signup {
  width: 100vw;
  height: 100vh;
  background-color: $color-bg;
  display: flex;
  flex-direction: row;

  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50%;

    .header__logo{
      position: absolute;
      top: 10%;
      left: 6vw;
      width: 10vw;
      height: auto;
    }
    h2 {
      text-align: left;
      font-size: 2vw;
      margin-bottom: 2vw;
    }
    
    .group {
      width: 50%;
      // background-color: brown;
      text-align: center;
      color: $color-black;
      margin-top: 6vw;
      h2 {
        color: $color-black;
      }

      button{
        height: 3vw;
        font-size: 1vw;
        &:first-of-type{
                    margin-bottom: 1rem;

        &:hover{
            background-color: $color-primary;
            border: 1px solid $color-primary;
            color: white;
           }
          }
           &:last-of-type{
             margin-top: 1rem;
           }
      }

      
    }
  }
 
  .signup__cta{
    margin-top: 2vw;
   & > a{
      color: $color-primary;
      border-bottom: 1px solid $color-primary;
    }
  }
  .right {
    height: 100%;
    margin-left: auto;
  }

}
