@import "../../scss/variables.styles.scss";
.furniture-item {
  width: calc(100vw / 20 * 3);
  height: 30vw;
  margin: 0 2.5vw;
  cursor: pointer;

  &:nth-child(4n + 1) {
    margin-left: 0;
  }
  &:nth-child(4n + 4) {
    margin-right: 0;
  }

  &__img {
    height: 50%;
    background-size: cover;
  }

  &__category {
    color: $color-dark-grey;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-top: 10%;
  }

  &__details {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-top: 10%;
    font-size: $font-size-medium;
  }
  &__name {
    display: inline-block;
    color: $color-primary;
    font-family: "Cormorant", serif;
    align-self: flex-end;
    line-height: 1;
  }

  &__price {
    display: inline-block;
    color: $color-primary;
    font-size: 1.2vw;
    margin-left: auto;
    align-self: flex-end;
  }
}
