@import '../../scss/mixins.scss';
@import '../../scss/variables.styles.scss';

.logIn {
  width: 100vw;
  height: 100vh;
  background-color: $color-bg;
  display: flex;
  flex-direction: row;
  
  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-black;
    width: 54vw;
    position: relative;

    .header__logo{
      position: absolute;
      top: 10%;
      left: 6vw;
      width: 10vw;
      height: auto;
    }
    h2 {
      text-align: left;
      font-size: 2vw;
      margin-bottom: 1.4vw;
      color: $color-black;
    }

    .group {
      width: 50%;
      // background-color: brown;
      text-align: center;
      color: $color-black;

      h2 {
        color: $color-black;
      }

      button{
        height: 3vw;
        font-size: 1vw;
        &:first-of-type:hover{
            background-color: $color-primary;
            border: 1px solid $color-primary;
            color: white;
           }
      }
    }
    .login__cta{
      margin-top: 2vw;
     & > a{
        color: $color-primary;
        border-bottom: 1px solid $color-primary;
      }
    }
  }

 
  .right {
    height: 100%;
  }
}
