@import "../../scss/variables.styles.scss";

.product-modal {
  &__container {
    position: fixed;
    z-index: 20;
    width: 100%;
    height: 100vh;
    top: 0;
    transform: translateX(-50%);
    left: 50%;
    display: block;
    background-color: #3a3a3a80;
    backdrop-filter: blur(2px);
    animation: display-modal 0.5s ease-in-out;
  }

  &__modal {
    background-color: whitesmoke;
    width: 70%;
    height: 80vh;
    z-index: 21;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    display: flex;
    align-items: center;
    padding: 4vw;
    animation: slide-up 0.2s;
    animation-delay: 0.4s;
  }
  &__img {
    width: 24vw;
    height: 70%;
  }
  &__close-btn {
    top: -6vw;
    right: -5vw;
    position: absolute;
    color: white;
    border: none;
    background-color: transparent;
    font-size: 4vw;
    font-family: Libre Franklin, "arial-sans";
    font-weight: lighter;
    padding: 2vw;
    cursor: pointer;
  }
  &__details {
    padding-left: 3vw;
  }
  &__product-name {
    font-size: 1.6vw;
    font-weight: 500;
    font-family: Cormorant, "sans-serif";
    margin-bottom: 1.4vw;
  }
  &__description {
    font-size: 1.2vw;
    margin-bottom: 2vw;
    text-align: justify;
  }

  &__actions {
    display: flex;
    flex-direction: row;
    font-size: 1.8vw;
    align-items: flex-end;
    align-items: center;
    justify-content: space-between;
    .add-to-cart {
      background-color: $color-primary;
      padding: 1.4vw 4vw;
      border: none;
      color: white;
      font-family: Libre Franklin, "serif";
      cursor: pointer;
      width: fit-content;
      margin-left: 1vw;
    }
  }

  &__price {
    font-family: Cormorant, "sans-serif";
    font-size: 3vw;
  }
}

@keyframes display-modal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
