.shopping-icon {
  position: relative;
}
.cart-icon {
  position: relative;
  img {
    width: 2rem;
    height: auto;
  }
}

.pos-abs {
  width: 1.2vw;
  height: 1.2vw;
  position: absolute;
  border-radius: 50%;
  background-color: goldenrod;
  top: -7px;
  right: -1rem;
  & span {
    font-size: 1vw;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
