.shopping-icon {
  position: relative;
}
.cart-icon {
  position: relative;
  img {
    width: 2rem;
    height: auto;
  }
}

.pos-abs {
  width: 1.2vw;
  height: 1.2vw;
  position: absolute;
  border-radius: 50%;
  background-color: #6c4f23;
  top: -8px;
  right: -1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  & span {
    font-size: 0.8vw;
    color: white;
    text-align: center;
  }
}
