@import '../../scss/variables.styles.scss';

.modal{
    width: 16vw;
    background-color: $color-primary;
    height: 3vw;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: -10vw;
    right: 6vw;
    padding: 2vw;
    opacity: 0;
    &__svg{
        width: 20%;
        height: auto;
        margin-right: .6vw;
    }
    &__text{
        font-size: 1vw;
        color: white;

    }
}