@import '../../scss/variables.styles.scss';
.checkout {
  color: white;
  padding: 6vw 16vw;

  .navigation {
    height: 1vw;
    width: fit-content;
    display: flex;
    align-items: center;
    color: $color-black;

    &-text {
      font-size: 1vw;
    }
    &-arrow {
      height: 1.2vw;

      img {
        height: 100%;
      }
    }
  }

  &-container {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .checkout-items {
      padding: 1vw;
      width: 65%;
      height: 100%;
    }
   
    .checkout-summary {
      padding: 1.4vw;
      width: 30%;
      height: 100%;
      display: flex;
      flex-direction: column;
      background-color: $color-white-secondary;
      color: $color-black;

      &__title{
        font-weight: 600;
        font-size: 1.2vw;
        text-align: center;
      }

      &__items{
        
      }

      &__item{
      display: flex;
      justify-content: space-between;
      border-bottom: 1px #76767640 solid;
      padding: 1.2vw 0;
      font-size: 1vw;

        &--title{

        }
        &--info{

        }
        &--total{
          font-size: 1.2vw;
          font-weight: 600;
        }

      }
        button{
          width: 45%;
          align-self: center;  
          margin-top: 2vw;
          font-size: .8vw;
          background-color: $color-primary;
          color: white;
          font-weight: 600;
          &:hover{
            border: none;    
                }
        }
    }
  }
}
