@import "../../scss/variables.styles.scss";
@import '../../scss/mixins.scss';

.header {
  width: 100vw;
  height: 10vw;
  position: fixed;
  background-color: transparent;
  top: 0;
  display: flex;
  z-index: 4;
  padding: 0 6%;

  align-items: center;

        @include respond(phone){
          height: 26vw;
        }
  
        img{
          width: 10vw;
          height: auto;
        }
  &__right {
    display: inherit;
    justify-content: center;
    align-items: center;
    margin-left: auto;

    .hamburger {
      &:hover {
        cursor: pointer;
      }
      & .line {
        width: 2.2vw;
        height: 1px;
        background-color: black;
        display: block;

        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;

        @include respond(phone){
          width: 8vw;
        }

        &:nth-child(2) {
          margin: 0.6vw 0;
         
          @include respond(phone){
            margin: 1.4vw 0;
          }
        }
      }
    }
  }

  &__item {
    font-size: 1vw;
    color: $color-black;
    font-weight: 500;
    cursor: pointer;
    margin-right: 2vw;
    @include respond(tab-port){
      margin-right: 4vw;
    }
    @include respond(phone){
      
    display: none;
     }
  }
}

#hamburger.is-active .line:nth-child(2) {
  opacity: 0;
}

#hamburger.is-active .line:nth-child(1) {
  -webkit-transform: translateY(0.8vw) rotate(45deg);
  -ms-transform: translateY(0.8vw) rotate(45deg);
  -o-transform: translateY(0.8vw) rotate(45deg);
  transform: translateY(0.8vw) rotate(45deg);
}

#hamburger.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-0.6vw) rotate(-45deg);
  -ms-transform: translateY(-0.6vw) rotate(-45deg);
  -o-transform: translateY(-0.6vw) rotate(-45deg);
  transform: translateY(-0.6vw) rotate(-45deg);
}
