.slider {
  width: 150rem;

  &__item {
  }
  &__img {
    height: 100%;
    background-size: cover;
    margin: 0 auto;
    width: fit-content;
  }

  .largest {
    width: 30rem;
    height: 44rem;
  }

  .large {
    width: 30rem;
    height: 38rem;
  }

  .small {
    width: 30rem;
    height: 30rem;
  }
}

.slick-track {
  display: flex;
  align-items: center;
}
