@import '../../scss/mixins.scss';
@import '../../scss/variables.styles.scss';


.footer{
    background-color: $color-black;
    color: white;
    height: 30vw;
    padding: 5% 10%;
    display: flex;
    flex-direction: row;
    padding-top: 10vw;
    //justify-content: center;
    
    &__logo{
        width: 12vw;
    }
    
    &__group{
        display: flex;
        flex-direction: column;
        &:not(:last-child){
            margin-right: 4vw;
        }
            &--title, &--link{
                font-size: 1.2vw;
                &:not(:last-child){
                    margin-bottom: .8vw;
                }
            }
        &--title{
            color: $color-grey;              
            text-transform: uppercase;
            font-weight: 600;
        }
        &--link{
            color: white;
            text-transform: capitalize;
        }

        & + .align-right{
            margin-left: auto;
        }

    }

    &__socials{
        align-items: center;
        margin-top: 2vw;
        justify-content: center;
        &--link{
            &:not(:last-child){
                margin-right: 1vw;
            }
        }

        &--img{
            width: 1.8vw;
            height: auto;
        }
    }

}