@import "../../scss/variables.styles.scss";

.section__browse-collections {
  width: 100vw;
  height: 100vh;
  background-color: $color-secondary;
  .title {
    text-align: center;
  }
  .preview {
    width: inherit;
    height: 100%;
    display: flex;
    flex-direction: row;
    &__text {
      display: flex;
      width: 20%;
      height: 100%;
      flex-direction: column;
      padding-top: 4rem;
    }

    &__left,
    &__right {
      width: 40%;
      height: 100%;
      position: relative;

      & > * {
        position: absolute;
      }

      .img__large {
        width: 45%;
        height: auto;
      }

      .img__small {
        width: 35%;
        height: auto;
      }
    }
  }

  .collection-title {
    display: block;
    text-align: center;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
    &:hover {
      font-style: italic;
    }
  }

  .btn__text {
    margin-top: 4rem;
    text-align: center;
    color: white;
    letter-spacing: 0.1em;
    transition: letter-spacing 0.3s ease;

    &:hover {
      letter-spacing: 0.2em;
    }
  }

  .mouseentered {
    opacity: 0;
  }
}
