.filter {
  position: fixed;
  left: calc(100vw / 20);
  width: calc(100vw / 20 * 3);
  margin-top: 6vw;

  ul > li > a {
    font-family: "Cormorant", serif;
    font-size: 1.8vw;
  }
}

.showcase {
  display: flex;
  flex-wrap: wrap;
  width: calc(100vw / 20 * 15);
  margin: 6vw calc(100vw / 20 * 1) 6vw calc(100vw / 20 * 4);
}
