@import "./variables.styles.scss";

h1,
h2,
h3,
h4,
.collection-title {
  font-family: "Cormorant", serif;
  font-weight: 300;
}

h1 {
  font-size: 9.4rem;
  color: $color-text-primary;
}

.title {
  font-size: 0.8vw;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.3em;

  &__sub {
    color: $color-secondary;
    line-height: 100%;
    font-size: 4.4vw;
    line-height: 90%;
    margin-bottom: 4rem;
    font-weight: 200;
    position: relative;

    &::after {
      content: " ";
      display: block;
      position: absolute;
      width: 6.4rem;
      height: 1px;
      background-color: $color-secondary;
      bottom: -1rem;
    }
    span {
      font-style: italic;
    }
  }
}

.collection-title {
  font-size: $font-size-large;
  color: $color-primary;
  font-family: "Cormorant", serif;
}
