$color-primary: #6C4F23;
$color-secondary: #191919;
$color-dark-grey: #4a4a4a;
$color-transparent: rgba(254, 245, 231, 0.1);

$color-black: #000;

$color-bg: #F7F7F7;
$color-text-primary: #000;
// $color-secondary: #062a35;
$font-size-button: 1.2rem;
$font-size-small: 1vw;
$font-size-medium: 1.8vw;
$font-size-large: 6rem;
