@import "../../scss/variables.styles.scss";

.hero {
  height: 100vh;
  width: 100vw;
  background-color: $color-primary;
  display: flex;
  justify-content: center;
  align-items: center;

  &_sub {
    font-size: 2.6rem;
  }
  .center-text {
    text-align: center;
  }
}
